* {
    --background: #ffe4f5;
    --white: #ffffff;
    --dark-color: #6e053f;
    --tabs-color: #ecd1e2;
    --pink-color: #e25aa4;
    --light-pink-color: #feedf4;
    --light-pink-color2:#fff5fa;

    --red-color: #ff0000;
}   